article
	pre.
		Studio.Stage({resolution:.25})
	canvas#test3
		script.
			var test3 = new Studio.Stage('test3',{resolution:.25})
			test3.addChild(new Studio.Rect({x:100,y:75,width:100,height:100,color:Studio.BLUE, rotation: 25}));