article
	pre.
		new Studio.Stage('test4',{color:Studio.RED})
	canvas#test4
		script.
			var test4 = new Studio.Stage('test4',{color:Studio.RED})
			test4.addChild(new Studio.Rect({x:100,y:75,width:100,height:100,color:Studio.YELLOW, rotation: 25}));