article
	pre.
		rect.rotation=25
	canvas#test2
		script.
			var test2 = new Studio.Stage('test2')
			test2.addChild(new Studio.Rect({x:100,y:75,width:100,height:100,color:Studio.BLUE, rotation: 25}));