canvas{
		display: inline-block;
		/*display: none;*/
		vertical-align: top;
	}
	#editor * {box-sizing: border-box;}
	#editor{
		background: #eee;
		font-family: Helvetica;
		padding: 0.5em .5em;
		font-size: 11px;
		width: 400px;
		min-height: 10em;
		display: inline-block;
		height: 100%;
		overflow: scroll;
		position: fixed;
		top: 0;
		right: 0;
		box-shadow: -2px 0 4px rgba(0,0,0,.33);
	}
	#editor fieldset{
		position: relative;
		border: 1px solid #ccc;
		margin-bottom: 1em;
		background: #f4f4f4;
		padding: 0 .5em 0;
	}
	#editor legend{
		padding: 0 .5em 0 1.25em;
	}
	#editor label{
		color: #333;
	}
	#editor input{
		margin-right: 1em;
		border: 1px solid #ddd;
		background: none;
	}
	#editor input:focus, #editor textarea:focus{
		border: 1px solid #d0f;
		background: #fff;
		outline: none;
	}
	#editor input[type="checkbox"]{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-style: solid;
		border-width: .44em 0 .44em .7em;
		border-color: transparent transparent transparent #777;
		position: absolute;
		top: -2px;
		left: 2px;
	}
	#editor input[type="checkbox"]:checked{
		border-width: .7em .44em 0 .44em;
		border-color: #777 transparent transparent transparent;
		top: 0px;
		left: 0;
	}
	#editor input[type='number']{
		width: 5em;
	}
	#editor fieldset > div {
		display: none;
		padding: .5em 0 .75em
	}
	#editor input:checked + legend ~ div{
		display: block;
	}
	#editor textarea{
		width: 100%;
		height: 5em;
		font-family: Courier;
		font-size: 10px;
	}
	#editor ul{
		display: none;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	#editor input:checked + legend ~ ul{
		display: block;
	}
	#editor ul.children:before{
		content: "Children";
	}